<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816353500473-c1p9ejkp60hqvb08r315d9oi1hb6f562.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816353500473-c1p9ejkp60hqvb08r315d9oi1hb6f562</string>
	<key>API_KEY</key>
	<string>AIzaSyD9APCG0r5sdz1kwDHAACgeOMm-Pbm1bMM</string>
	<key>GCM_SENDER_ID</key>
	<string>816353500473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kosidev.mentalHealthCareApp</string>
	<key>PROJECT_ID</key>
	<string>mental-heath-care</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-heath-care.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816353500473:ios:f01865af49561daedddce8</string>
</dict>
</plist>